#calendar {
    max-width: 1100px;
    display: grid;
}

#content-box {
    position: relative;
    margin: 0 auto;
}
#bottom_box {
    position: absolute;
    top: 70%;
    height: 200px;
    width: 84%;
}
#oncoming {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 2%;
    color: #2c3e50;
    background-color: #c8c8c86b;
    overflow: scroll;
}
#oncoming_title {
    font-size: 14px;
    font-weight: bolder;
    padding: 7px;
    overflow: hidden;
    height: 10px;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px solid #0000002b;
}
#oncoming_memo {
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
}
#oncoming_date {
    position: relative;
    right: -70%;
    top: -10px;
    color: #6b6b6e;
}
html {
    position: absolute;
    width: 80%;
    left: 10%;
}
body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}

#search_frame iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 8;
}
#search_frame {
    display: none;
    position: absolute;
    width: 84%;
    height: 60%;
    background-color: #fff;
    border: 0px;
    border-top: 3px solid #e9e9ef;
    border-bottom: 3px solid #e9e9ef;
    border-radius: 3%;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}
#notice_frame iframe {
    position: absolute;
    top: -70px;
    left: -260px;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 7;
}
#notice_frame {
    display: none;
    background-color: #fff;
    /* position: initial; */
    /* z-index: 1; */
}
#mid_box {
    margin-top: 15px;
    margin-left: 15px;
}
#notice {
    position: absolute;
    top: 60%;
    width: 250px;
    height: 300px;
    text-align: center;
    animation: bounce 1s linear;
    z-index: 0;
}
button {
    border: 0;
    outline: 0;
}
#notice button {
    background: none;
}
#notice_num {
    position: relative;
    display: none;
    top: -15px;
    right: -50px;
    font-size: 13px;
    color: #fff;
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 45%;
    text-align: center;
}

@keyframes bounce {
    20%,
    50%,
    80%,
    to {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    70% {
        transform: translateY(-5px);
    }
    90% {
        transform: translateY(-4px);
    }
}

fieldset {
    margin: 0;
    position: relative;
    display: flex;
    padding: 0 0 0 10px;
    border: none;
    border-radius: 5px;
    height: 50px;
}

#calendar {
    position: sticky;
    max-width: 70%;
    display: grid;
    /* margin: 0 auto; */
}

#content-box {
    position: absolute;
    right: 0px;
    top: 40px;
    width: 30%;
    height: 80%;
}

.fa-search {
    color: #2c3e50;
}
.fa-times {
    color: #2c3e50;
    font-size: 20px;
}
.fa-users {
    font-size: 40px;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

#search-bar {
    border-radius: 5px 0 0 5px;
    border: none;
    background: #2c3e50;
    color: #fff;
    width: 80%;
}

#search-submit {
    background-color: #a5abb1;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
}
#frame_close_btn {
    background-color: #fff;
    border-radius: 30%;
    border: none;
    position: absolute;
    top: 90%;
    right: -35px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    /* z-index: 0; */
}

@media only screen and (max-width: 1000px) {
    #calendar {
        max-width: 1100px;
        display: grid;
        margin: 0 auto;
    }

    #content-box {
        position: relative;
        top: 10px;
        left: -24%;
        width: 50%;
        height: 500px;
    }
    #search_frame {
        display: none;
        position: absolute;
        width: 84%;
        height: 60%;
        background-color: #fff;
        border: 0px;
        border-top: 3px solid #e9e9ef;
        border-bottom: 3px solid #e9e9ef;
        border-radius: 3%;
        margin-top: 10px;
        margin-left: 10px;
    }
    #bottom_box {
        position: relative;
        top: -17%;
        left: 100%;
        width: 95%;
        height: 100%;
    }
    #oncoming {
        position: relative;
        top: -65px;
        width: 90%;
    }
    #notice_frame iframe {
        left: 70px;
    }
}

.pop-close-btn {
    background-color: salmon;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    align-self: center;
    cursor: pointer;
}

.pop-save-btn {
    background-color: SteelBlue;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    align-self: center;
    cursor: pointer;
}

.pop-delete-btn {
    background-color: Red;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    align-self: center;
    cursor: pointer;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    z-index: 999;
    background: #333;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    left: 0;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
}

#user-name {
    padding: 0px 0px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
}

#user-msg {
    padding: 0px 0px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
}

.user-search-btn {
    background-color: SteelBlue;
    color: white;
    padding: 5px 18px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    align-self: center;
    cursor: pointer;
}

.follow-btn {
    background-color: salmon;
    color: white;
    padding: 3px 18px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    align-self: center;
    cursor: pointer;
}

.follow-delete-btn {
    background-color: red;
    color: white;
    padding: 3px 18px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    align-self: center;
    cursor: pointer;
}

.follow-watch-btn {
    background-color: SteelBlue;
    color: white;
    padding: 3px 18px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    align-self: center;
    cursor: pointer;
}
