@charset "UTF-8";

ul{
	padding-left:3px;
}

li{
	font-size:25px;
	margin-top:10px;
}
li::before{
	content:"";
	position:relative;
	top:15px;
	left:-5px;
	background-color:#2c3e50;
	display:inline-block;
	width:6px;
	height:6px;
	border-radius:50%;
	vertical-align:top;
}
li::after{
	content:"";
	display:table;
	table-layout:fixed;
	clear:both;
}
.li_memo{
	display:none;
	font-size:15px;
	padding-left:5px;
}
.li_date{
	font-size:15px;
	padding-left:10px;
}
a{
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}
::-webkit-scrollbar{
	width:8px;
	height:8px;
	background:#ffffff;
}
::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #c3ccd5;
  }
::-webkit-scrollbar-track {
    background: #ffffff;
}