@charset "UTF-8";
body{
	font-size:12px;
	border-radius:2%;
}
#info{
	
}
#date{
	color:gray;
}
#following, #f4f{
	    position: relative;
    top: -16px;
    left: 170px;
    font-size: 11px;
    border: 1px solid #9a9a9a;
    background: #f2efef;
    border-radius: 5px;
    color: black;
}
#f4f{
	background: salmon;
	color:white;
	border:none;
    cursor:pointer;
}
::-webkit-scrollbar{
	width:8px;
	height:8px;
	background:#ffffff;
}
::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #c3ccd5;
  }
::-webkit-scrollbar-track {
    background: #ffffff;
}